html,
body
{
    background-color: #3b3b3b !important;
    opacity: 0.75;
}

.nbutton
{
    color: #e3e3e3 !important;
}

.nbutton.active
{
    background-color: #4a4a4a !important;
}

p
{
    color: #e3e3e3 !important;
}

.uname
{
    color: white;
}

/*
html,
body
{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

.Section_Chat_ELEMENT
{
  position: absolute;
}

.Section_Chat_Topbar
{
  height: 7vh;
  width: 100vw;
}

.Section_Chat_Sidebar
{
  margin-top: 7vh;
  height: 93vh;
  width: 15vw;
}

.Section_Chat_Button
{
  height: 7vh;
  width: 10vw;
}

.Section_Chat_ELEMENT_Fill,
.Section_Chat-ELEMENT_Fill:focus
{
  height: inherit;
  width: inherit;
  outline: 0;
  border: 0;
}

.Dropdown:hover
{
  transform: translate(0, 0);
  transition: transform 0.75s ease;
}

.Dropdown
{
  transform: translate(0, -21vh);
  transition: transform 0.75s ease;
  z-index: 1000;
}

.mainframe
{
  margin-top: 7vh;
  margin-left: 15vw;
  height: 93vh;
  width: 85vw;
  outline: 0;
  border: 0;
  position: absolute;
}

.modal
{
  margin-left: 25vw;
  margin-top: 25vh;
  width: 50vw;
  height: 50vh;
  z-index: 503;
  background-color: white;
  position: absolute;
  user-select: none;
  padding: 10px;
}

.pagecover
{
  width: 100vw;
  height: 100vh;
  z-index: 501;
  position: absolute;
  transition: filter 0.5s;
}

.cover
{
  filter: blur(5px) grayscale(20%);
  transition: filter 0.5s;
}

.ModalVis
{
  display: block;
  opacity: 1;
  transition: opacity 0.75s;
}

.ModalHidden
{
  display: none;
  opacity: 0;
  transition: opacity 0.75s;
}

.nbutton
{
  width: 15vw;
  height: 9vh;
  background-color: transparent;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: large;
  z-index: 1500;
}

.nbutton.subtext
{
  font-size: small;
}

.nbutton.active
{
  background-color: #f0f0f0;
}

.nbutton:focus
{
  outline: 0;
  border: 0;
}

.mainframe.hidden
{
  transition: opacity 0.5s;
  opacity: 0;
  z-index: -500;
}

.mainframe.inview
{
  transition: opacity 0.5s;
  opacity: 1;
  position: absolute;
  z-index: 500;
}

.textinput
{
  width: 15vw;
  height: 5vh;
  border: 0;
  outline: 0;
  background-color: #f9f9f9;
  position: absolute;
}

.textinputsub
{
  width: 15vw;
  height: 20vh;
  background-color: #f0f0f0;
  position: absolute;
  margin-top: 6vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.userlist
{
  width: 15vw;
  height: 30vh;
  background-color: #f0f0f0;
  margin-left: 20vw;
  position: absolute;
}

.off9
{
  position: absolute;
  margin-left: 40vw;
}
*/