html,
body
{
  padding: 0;
  margin: 0;
}

.Section_Chat_ELEMENT
{
  position: absolute;
}

.Section_Chat_Topbar
{
  height: 7vh;
  width: 100vw;
}

.Section_Chat_Sidebar
{
  margin-top: 7vh;
  height: 93vh;
  width: 15vw;
  background-color: orange;
}

.Section_Chat_Button
{
  height: 7vh;
  width: 10vw;
}

.Section_Chat_ELEMENT_Fill,
.Section_Chat-ELEMENT_Fill:focus
{
  height: inherit;
  width: inherit;
  outline: 0;
  border: 0;
}

.Dropdown:hover
{
  transform: translate(0, 0);
  transition: transform 0.75s ease;
}

.Dropdown
{
  transform: translate(0, -21vh);
  transition: transform 0.75s ease;
}

div.Section_Chat_Frame_Parent
{
  margin-top: 7vh;
  margin-left: 15vw;
  height: 93vh;
  width: 85vw;
}
