html,
body
{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

.Section_Chat_ELEMENT
{
  position: absolute;
}

.Section_Chat_Topbar
{
  height: 7vh;
  width: 100vw;
}

.Section_Chat_Sidebar
{
  margin-top: 7vh;
  height: 93vh;
  width: 15vw;
}

.Section_Chat_Button
{
  height: 7vh;
  width: 10vw;
}

.Section_Chat_ELEMENT_Fill,
.Section_Chat-ELEMENT_Fill:focus
{
  height: inherit;
  width: inherit;
  outline: 0;
  border: 0;
}

.Dropdown:hover
{
  transform: translate(0, 0);
  transition: transform 0.75s ease;
}

.Dropdown
{
  transform: translate(0, -21vh);
  transition: transform 0.75s ease;
}

.mainframe
{
  margin-top: 7vh;
  margin-left: 15vw;
  height: 93vh;
  width: 85vw;
  outline: 0;
  border: 0;
}

.modal
{
  margin-left: 25vw;
  margin-top: 25vh;
  width: 50vw;
  height: 50vh;
  z-index: 500;
  background-color: white;
  position: absolute;
  user-select: none;
}

.pagecover
{
  width: 100vw;
  height: 100vh;
  z-index: 499;
  position: absolute;
  transition: filter 0.5s;
}

.cover
{
  filter: blur(5px) grayscale(20%);
  transition: filter 0.5s;
}

.ModalVis
{
  display: block;
  opacity: 1;
  transition: opacity 0.75s;
}

.ModalHidden
{
  display: none;
  opacity: 0;
  transition: opacity 0.75s;
}

.nbutton
{
  width: 15vw;
  height: 9vh;
  background-color: transparent;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: large;
}

.nbutton.subtext
{
  font-size: small;
}

.nbutton.active
{
  background-color: #f0f0f0;
}

.nbutton:focus
{
  outline: 0;
  border: 0;
}

.mainframe.hidden
{
  transition: opacity 0.5s;
  opacity: 0;
}

.mainframe.inview
{
  transition: opacity 0.5s;
  opacity: 1;
}