.v3-font-inherit
{
  font: inherit;
}
.v3fi
{
  font: inherit;
}
.v3fs-xs
{
  font-size: 8px;
}
.v3fs-s
{
  font-size: 12px;
}
.v3fs-ms
{
  font-size: 14px;
}
.v3fs-m
{
  font-size: 16px;
}
.v3fs-ml
{
  font-size: 22px;
}
.v3fs-l
{
  font-size: 36px;
}
.v3fs-xl
{
  font-size: 44px;
}
.v3fs-xxl
{
  font-size: 54px;
}
.v3fs-jumbo
{
  font-size: 64px;
}
.v3-font-Raleway
{
  font-family: "Raleway", sans-serif;
}

.v3-xOffset-5
{
  margin-left: 5vw;
}
.v3-xOffset-10
{
  margin-left: 10vw;
}
.v3-xOffset-20
{
  margin-left: 20vw;
}
.v3-xOffset-30
{
  margin-left: 30vw;
}
.v3-xOffset-40
{
  margin-left: 40vw;
}
.v3-xOffset-50
{
  margin-left: 50vw;
}
.v3-xOffset-60
{
  margin-left: 60vw;
}
.v3-xOffset-70
{
  margin-left: 70vw;
}
.v3-xOffset-80
{
  margin-left: 80vw;
}
.v3-xOffset-90
{
  margin-left: 90vw;
}

.v3-yOffset-10
{
  margin-top: 10vh;
}
.v3-yOffset-20
{
  margin-top: 20vh;
}
.v3-yOffset-30
{
  margin-top: 30vh;
}
.v3-yOffset-40
{
  margin-top: 40vh;
}
.v3-yOffset-50
{
  margin-top: 50vh;
}
.v3-yOffset-60
{
  margin-top: 60vh;
}
.v3-yOffset-70
{
  margin-top: 70vh;
}
.v3-yOffset-80
{
  margin-top: 80vh;
}
.v3-yOffset-90
{
  margin-top: 90vh;
}

.v3bg-white
{
  background-color: white;
}
.v3gb-gray,
.v3gb-grey
{
  background-color: #c2c2c2;
}

.v3e-hover:hover
{
  background-color: #c2c2c2;
}

.v3a-bg
{
  transition: background-color 250ms;
}

.v3-fill
{
  height: inherit;
  width: inherit;
  outline: 0;
  border: 0;
}
.v3-abs
{
  position: absolute;
}
