html
{
  font-family: "Raleway", sans-serif;
}

button
{
  outline: 0;
}

button:focus
{
  outline: 0;
}

.v3-box
{
  background-color: white;
  transition: background-color 500ms ease;
  outline: 0;
}

.v3-box:focus
{
  background-color: grey;
  outline: 0;
}

input:focus
{
  background-color: grey;
}

@keyframes Disable 
{
  from { color: black; }
  to { color: grey; }
}

.disabled
{
  animation: Disable 500ms;
  animation-fill-mode: forwards; 
}

@keyframes Hide
{
  from { opacity: 1; display: initial; }
  to { opacity: 0; display: none; }
}

.Section_Hide
{
  animation: Hide 500ms;
  animation-fill-mode: forwards;
}

@keyframes Show
{
  from { opacity: 0; display: none; }
  to { opacity: 1; display: initial; margin: 0; }
}

.Section_Show
{
  animation: Show 500ms;
  animation-fill-mode: forwards;
}

.Section
{
  position: absolute;
  margin-right: 10px;
  padding-right: 10px;
}