body,
h1,
h2,
h3,
h4,
h5,
h6, 
{
  font-family: "Raleway", sans-serif;
}

.v3-box
{
  background-color: white;
  transition: background-color 1000ms ease;
  outline: 0;
}

.v3-box:focus
{
  background-color: grey;
  outline: 0;
}

@keyframes Disable 
{
  from { color: black; }
  to { color: grey; }
}

.disabled
{
  animation: Disable 1000ms;
  animation-fill-mode: forwards; 
}